/*Variables*/
$bc-color-header: linear-gradient(to right, #f4bbbb, white);
$bc-footer: #f4bbbb;
$bc-main: #FFEEEE;
$padding-main-gral: 30px;
$width-icono-recordatorio: 100px;
$height-icono-recordatorio: 100px;
