/*Estilo main seccion "Contacto"*/
/*Datos de contacto*/

@import '../base/variables';
.mainContacto {
  background-color: $bc-main;
  padding: $padding-main-gral;
  .card {
    background-color: #FFEEEE;
    padding: 20px;
    border: none;
  }
  .linkRedes {
    padding: 40px;
    display: flex;
    .linkWpp {
      max-width: 50px;
      max-height: 50px;
      margin-right: 20px;
    }
    .linkInstagram {
      max-width: 50px;
      max-height: 50px;
    }
    .linkFacebook {
      max-width: 50px;
      max-height: 50px;
      margin-left: 20px;
    }
  }
  .ingresoDatosUsuario {
    margin: 40px;
  }
}