/*Esilo main seccion "Nosotros"*/

@import '../base/variables';
.mainNosotros {
  padding-bottom: $padding-main-gral;
  background-color: $bc-main;
  .seccionNosotros {
    padding-bottom: 150px;
    .nosotrosInfo {
      padding: 30px;
      h1 {
        margin-bottom: 30px;
      }
    }
  }
}

.nosotrosInfo {
  font-family: 'Roboto Slab', serif;
}