
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
}


/*Tamaño del logo*/
.logoNav {
  width: 80px;
  height: 80px;
}


/*Estilos del nav*/
.background-nav {
  background-image: linear-gradient(to right, #f4bbbb , white);
}

.botonNav:hover {
  transform: scale(0.8);
}


/*Estilo del main - Index*/

.contenedor {
  background-color: #FFEEEE;
}

.imagenCarrusel {
  width: 100%;
}

.card {
  height: 500px;
  width: 500px;
}

.cheescake {
  width: 400px;
  padding-left: 20px;
  padding-top: 20px;
  
}



/*Productos destacados - Index*/

.tituloProductosDest {
  display: flex;
  justify-content: center;
  padding: 5px;
  margin-top: 200px;
}

.contenedorDestacados {
  display: grid;
  grid-row-gap: 10px;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: (2,1fr);
  margin: 100px 5%;
  gap: 15px;
}

.contenedorDestacados img {
  width: 90%;
  height: 90%;
  
}
.imagenDestacada:hover {
  transform: scale(1.1);

}



/*Recordatorios*/

.contenedorRecordatorios {
  display: grid;
  grid-template-rows: 300px;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
  font-size: 20px;
}

.recordatorioWpp img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.iconoPastel img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

.recordatorioEnvio img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

/*Estilo y tamaño del footer*/
.footer {
  padding: 20px;
  background-color: #f4bbbb;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
.column-footer  {
  width: 25%;
}

/*Estilos de la info de contacto*/
.contenedorContacto {
  padding: 20px;
  line-height: 30px;
}

.contenedorContacto a {
  text-decoration: none;
  color: black;
}

/*Estilos de los iconos de redes sociales*/
.iconosRedes {
  display: flex;
}

.iconosRedes a img {
  max-width: 30px;
  max-height: 30px;
  margin: 20px;
}

/*Estilos de la navegacion del footer*/
.navegacionFooter {
  display: flex;
  justify-content: center;
}

.menuFooter {
  list-style: none;
}

.menuFooter li a {
  text-decoration: none;
  color: black;
  display: flex;
}

.menuFooter li {
  margin: 30px;
}

/*Estilo de la ubicacion maps*/
.ubicacionMaps {
  display: flex;
  justify-content: end;

}

/*Esilo main seccion "Como Comprar"*/
.mainComoComprar {
  background-color: #FFEEEE;
  margin: 0px;
  padding: 30px;
}

.mainComoComprar h2 {
  margin: 40px;
}

.mainComoComprar h1 {
  margin: 40px;
}

/*Esilo main seccion "Nosotros"*/
.mainNosotros {
  padding: 30px;
  background-color: #FFEEEE;
}

.seccionNosotros {
  padding-bottom: 150px;
}

.nosotrosInfo {
  margin: 30px;
}

.nosotrosInfo h1 {
  margin-bottom: 30px;
}

/*Estilo main seccion "Productos*/

.contenedorProductos {
  background-color: #FFEEEE;
}

.productos {
  padding: 50px;
  display: grid;
  grid-template-columns: 30fr 30fr;
  grid-template-rows: 30fr 30fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.tituloProductos {
  display: flex;
  justify-content: center;
  padding: 40px;
}

/*Estilo main seccion "Contacto"*/
/*Datos de contacto*/
.mainContacto {
  background-color: #FFEEEE;
}

.datosContacto {
  padding: 50px;
}

.datosContacto h1 {
  padding-bottom: 40px;
}

.datosContacto a {
  text-decoration: none;
  color: black;
}

.datosContacto p {
  padding-bottom: 20px;
  padding-top: 20px;
}

.linkRedes {
  padding: 40px;
  display: flex;
}

.linkWpp {
  max-width: 50px;
  max-height: 50px;
  margin-right: 20px;
}

.linkInstagram {
  max-width: 50px;
  max-height: 50px;
}

.linkFacebook {
  max-width: 50px;
  max-height: 50px;
  margin-left: 20px;
}

.horarios {
  position: relative;
  bottom: 300px;
}

.horarios div {
  display: flex;
  justify-content: center;
}

.ingresoDatosUsuario {
  margin: 40px;
}

/*---- Media Querys ----*/
/* Desktop XXL */
@media screen and (max-width: 1600px) {

}
/* Desktop */
@media screen and (max-width: 1024px) {

}
/* Tablet Horizontal */
@media screen and (max-width: 1100px) {
  .carrusel {
    grid-template-columns: repeat(2,1fr)
  }
  .contenedorDestacados {
      grid-template-columns: repeat(2,1fr);
  }
  .ubicacionMaps {
    display: none;
  }
  
  .menuFooter {
    display: none;
  }
}
/* Tablet Vertical */
@media screen and (max-width: 900px) {
  .column-footer {
    width: 100%;
  }
  .menu {
    font-size: 12px;
    gap: 10px;
    justify-content: space-between;
  }
  .ubicacionMaps {
    display: none;
  }

  .menuFooter {
    display: none;
  }
  .logo {
    display: none;
  }
  .nav {
    padding: 20px;
    margin: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  }

/* Mobile */
@media screen and (max-width: 600px) {
.carrusel {
  grid-template-columns: repeat(1,1fr);
}
.contenedorDestacados {
  grid-template-columns: repeat(1,1fr);
}
.menu {
  font-size: 10px;
  display: flex;
  justify-content: space-around;
}
.ubicacionMaps {
  display: none;
}

.menuFooter {
  display: none;
}

.nav {
  width: 90%;
}
.productos{
  grid-template-columns: repeat(1,1fr);
}
.recordatorioWpp img {
  width: 70px;
  height: 70px;
}
.recordatorioEnvio img {
  width: 70px;
  height: 70px;
}
.iconoPastel img {
  width: 70px;
  height: 70px;
}
}
/* Mobile XS */
@media screen and (min-width:350px) and (max-width: 400px) {
  .ubicacionMaps {
    display: none;
  }
  .menu {
    font-size: 10px;
  }
  .logo {
    width: 70px;
    height: 70px;
  }
  .menuFooter {
    display: none;
  }
  .carrusel {
    grid-template-columns: repeat(1,1fr)
  }
  .contenedorDestacados {
    grid-template-columns: repeat(1,1fr);
  }
  .recordatorioWpp img {
    width: 60px;
    height: 60px;
  }
  .recordatorioEnvio img {
    width: 60px;
    height: 60px;
  }
  .iconoPastel img {
    width: 60px;
    height: 60px;
  }
  

}